@import "tailwindcss";

@theme inline {
  /* Fonts */

  --font-manrope: var(--font-manrope);
  --font-urbanist: var(--font-urbanist);
  --font-montserrat: var(--font-montserrat);
}

@layer components {
  .bg-hero-image {
    background-image: url("/images/hero-image.png");
    background-size: cover;
    background-position: center;
  }
}
